<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <!-- globalizaion 이 없으면 모바일 페이지에서 한글이 깨진다. -->
    <!--<globalization requestEncoding="ks_c_5601-1987" responseEncoding="ks_c_5601-1987"/>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ko-KR" uiCulture="ko-KR" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>

    <httpRuntime targetFramework="4.8" maxRequestLength="2097151" executionTimeout="3600" requestValidationMode="2.0" />
  </system.web>

  <!--JSON 직렬화 설정을 추가 20250709-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647">
          <converters>
          </converters>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <!--250709 CORS 헤더 설정-->
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, contenttype, soapaction, Accept, Authorization, Origin, X-Requested-With" />
      </customHeaders>
    </httpProtocol>-->

    <validation validateIntegratedModeConfiguration="false" />

    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
    <!--250709 대용량 요청을 허용하는 설정-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>

    <staticContent>
      <!--250709 lstx, header file-->
      <mimeMap fileExtension=".lstx" mimeType="text/plain" />
      <mimeMap fileExtension=".header" mimeType="text/plain" />
      <!--250709 브라우저 캐싱 방지-->
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <!--WebConfig.exe를 사용하면 value를 false로 한다. 10.3.1.6 부터는 사용되지 않는다.-->
    <!--add key="UseWebConfig" value="true"/-->

    <!--LocalMain의 IP-->
    <add key="LocalMainIP" value="127.0.0.1" />
    <add key="LocalMainPort" value="7200" />
    <!--LocalMain의 데이터에 접근 시 로그온 정보-->
    <add key="LogOnUse" value="false" />
    <add key="LogOnUsername" value="" />
    <add key="LogOnPassword" value="" />
    <add key="LogOnDomain" value="" />
    <!--데이터가 저장되어 있는 경로-->
    <add key="DataFolderBasic" value="C:\AutoBase\Data" />
    <add key="DataFolderLog" value="C:\AutoBase\Data" />
    <!--LocalVersionIs941OrHigher 로컬 서버의 버전이 9일경우는 false로 사용 10 이상일 때는 true-->
    <!--add key="LocalVersionIs941OrHigher" value="true"/-->

    <add key="UseLog" value="false" />
    <!--SQL Server Compact 3.5-->
    <add key="LogDsn" value="Provider=Microsoft.SQLSERVER.CE.OLEDB.3.5;Data Source=C:\WebRoot\SDF\Main.sdf" />
    <!--SQL Server Compact 4.0-->
    <!--add key="LogDsn" value="Provider=Microsoft.SQLSERVER.CE.OLEDB.4.0;Data Source=C:\WebRoot\SDF\Main40.sdf"/-->
    <!--SQL SERVER-->
    <!--add key="LogDsn" value="Provider=SQLOLEDB;Data Source=SERVNAME;User ID=sa;Password=;Initial Catalog=DBNAME;"/-->
    <!--Oracle-->
    <!--add key="LogDsn" value="Provider=MSDAORA;Data Source=SERVNAME;User ID=system;Password=;"/-->
    <!--IDB DB2-->
    <!--add key="LogDsn" value="Provider=Provider=IBMDADB2;Database=sample;Hostname=127.0.0.1;Uid=db2admin;Pwd=;"/-->

    <add key="WebAdminUsername" value="WebAdmin" />
    <add key="WebAdminPassword" value="" />

    <!-- 
        SecurityLevel=3 10.3.1.6 부터 지원. Hash-160
        SecurityLevel=4 10.3.1.6 부터 지원. Hash-256
        -->
    <add key="SecurityLevel" value="2" />
    <!--Add UserTimeOut v10.3.7.5-->
    <add key="UserTimeOut" value="2" />

    <!-- .NET 4.5+ 보안 설정 -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
          <!--httpsTransport /-->
        </binding>
      </customBinding>
    </bindings>

    <!--serviceHostingEnvironment aspNetCompatibilityEnabled="true" /-->
    <behaviors>
      <serviceBehaviors>
        <!--<behavior name="PortalServerWeb.AutoWeb.Service.ServiceDataGateServerBehavior">-->
          <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <!--serviceMetadata httpsGetEnabled="true" /-->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="PortalServerWeb.AutoWeb.Service.ServiceDataGateServer">
        <endpoint address="" binding="wsHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IServiceDataGateServer">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.ServiceOdbc">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IServiceOdbc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.ServiceDataSet">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IServiceDataSet" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.ServiceDataSet2">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IServiceDataSet2" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.ServiceUserProtect">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IServiceUserProtect" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.ServiceDownLoadProject">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IServiceDownLoadProject" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.ServiceDataTag">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IServiceDataTag" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.WebServiceDataTag2">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IWebServiceDataTag2" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.WcfServiceRecipe">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IServiceRecipe" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.ServiceReport">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IServiceReport" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.ServiceExcelReport">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IServiceExcelReport" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.WebServiceAndroid">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IWebServiceAndroid" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="PortalServerWeb.AutoWeb.Service.WcfServiceDataGateServerProxy">
        <endpoint address="" binding="basicHttpBinding" contract="PortalServerWeb.AutoWeb.Service.IWcfServiceDataGateServerProxy" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>

  </system.serviceModel>
</configuration>