<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="UsernameLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup>
	<applicationSettings>
		<UsernameLibrary.Properties.Settings>
			<setting name="UsernameLibrary_kr_co_username_www_ServiceUsername" serializeAs="String">
				<value>http://www.username.co.kr/Service/ServiceUsername.asmx</value>
			</setting>
			<setting name="UsernameLibrary_ServiceUsername2_ServiceUsername2" serializeAs="String">
				<value>http://www.username.co.kr/Service/ServiceUsername2.asmx</value>
			</setting>
		</UsernameLibrary.Properties.Settings>
	</applicationSettings>
</configuration>
