<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" /></startup><system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="ServiceDownLoadProjectSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm="">
       <extendedProtectionPolicy policyEnforcement="Never" />
      </transport>
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ServiceDataSetSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm="">
       <extendedProtectionPolicy policyEnforcement="Never" />
      </transport>
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ServiceOdbcSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm="">
       <extendedProtectionPolicy policyEnforcement="Never" />
      </transport>
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ServiceUserProtectSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm="">
       <extendedProtectionPolicy policyEnforcement="Never" />
      </transport>
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="WebServiceDataTag2Soap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ServiceDataTagSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm="">
       <extendedProtectionPolicy policyEnforcement="Never" />
      </transport>
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="WebServiceDataGateServerSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="WebService3Soap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ServiceExcelReportSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ServiceReportSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="BasicHttpBinding_IServiceDataSet" />
    <binding name="BasicHttpBinding_IServiceDataTag" />
    <binding name="BasicHttpBinding_IWebServiceDataTag2" />
    <binding name="BasicHttpBinding_IServiceDownLoadProject" />
    <binding name="BasicHttpBinding_IServiceExcelReport" />
    <binding name="BasicHttpBinding_IServiceOdbc" />
    <binding name="BasicHttpBinding_IServiceReport" />
    <binding name="BasicHttpBinding_IWebService3" />
    <binding name="BasicHttpBinding_IServiceUserProtect" />
    <binding name="BasicHttpBinding_IWcfServiceDataGateServerProxy" />
   </basicHttpBinding>
   <netTcpBinding>
    <binding name="NetTcpBinding_IServiceDataGateServer" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
     <security mode="None">
      <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
      <message clientCredentialType="Windows" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IServiceDataGateServer1">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:63497/AutoWeb/Service/ServiceDownLoadProject.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceDownLoadProjectSoap" contract="ServiceReferenceDownLoadProject.ServiceDownLoadProjectSoap" name="ServiceDownLoadProjectSoap" />
   <endpoint address="http://localhost:63497/AutoWeb/Service/ServiceDataSet.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceDataSetSoap" contract="ServiceReferenceDataSet.ServiceDataSetSoap" name="ServiceDataSetSoap" />
   <endpoint address="http://localhost:63497/AutoWeb/Service/ServiceOdbc.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceOdbcSoap" contract="ServiceReferenceOdbc.ServiceOdbcSoap" name="ServiceOdbcSoap" />
   <endpoint address="http://localhost:63497/AutoWeb/Service/ServiceUserProtect.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceUserProtectSoap" contract="ServiceReferenceUserProtect.ServiceUserProtectSoap" name="ServiceUserProtectSoap" />
   <endpoint address="http://localhost:63497/AutoWeb/Service/ServiceDataTag.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceDataTagSoap" contract="ServiceReferenceDataTag.ServiceDataTagSoap" name="ServiceDataTagSoap" />
   <endpoint address="http://localhost:63497/AutoWeb/Service/WebServiceDataGateServer.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceDataGateServerSoap" contract="ServiceReferenceDataGateServer.WebServiceDataGateServerSoap" name="WebServiceDataGateServerSoap" />
   <endpoint address="http://localhost:63497/AutoWeb/Service/WebServiceDataTag2.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceDataTag2Soap" contract="ServiceReferenceDataTag2.WebServiceDataTag2Soap" name="WebServiceDataTag2Soap" />
   <endpoint address="http://localhost:63497/AutoWeb/Service/WebService3.asmx" binding="basicHttpBinding" bindingConfiguration="WebService3Soap" contract="ServiceReferenceService3.WebService3Soap" name="WebService3Soap" />
   <endpoint address="http://localhost:63497/AutoWeb/Service/ServiceExcelReport.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceExcelReportSoap" contract="ServiceReferenceExcelReport.ServiceExcelReportSoap" name="ServiceExcelReportSoap" />
   <endpoint address="http://localhost:63497/AutoWeb/Service/ServiceReport.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceReportSoap" contract="ServiceReferenceReport.ServiceReportSoap" name="ServiceReportSoap" />
   <endpoint address="net.tcp://localhost:8732/AutoWeb/Service/ServiceDataGateServer.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceDataGateServer" contract="WcfReferenceDataGateServer.IServiceDataGateServer" name="NetTcpBinding_IServiceDataGateServer" />
   <endpoint address="http://localhost:63500/AutoWeb/Service/ServiceDataSet.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDataSet" contract="ServiceReferenceDataSet.IServiceDataSet" name="BasicHttpBinding_IServiceDataSet" />
   <endpoint address="http://localhost:63500/AutoWeb/Service/ServiceDataTag.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDataTag" contract="ServiceReferenceDataTag.IServiceDataTag" name="BasicHttpBinding_IServiceDataTag" />
   <endpoint address="http://localhost:63500/AutoWeb/Service/ServiceDownLoadProject.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDownLoadProject" contract="ServiceReferenceDownLoadProject.IServiceDownLoadProject" name="BasicHttpBinding_IServiceDownLoadProject" />
   <endpoint address="http://localhost:63500/AutoWeb/Service/ServiceExcelReport.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceExcelReport" contract="ServiceReferenceExcelReport.IServiceExcelReport" name="BasicHttpBinding_IServiceExcelReport" />
   <endpoint address="http://localhost:63500/AutoWeb/Service/ServiceOdbc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOdbc" contract="ServiceReferenceOdbc.IServiceOdbc" name="BasicHttpBinding_IServiceOdbc" />
   <endpoint address="http://localhost:63500/AutoWeb/Service/ServiceReport.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceReport" contract="ServiceReferenceReport.IServiceReport" name="BasicHttpBinding_IServiceReport" />
   <endpoint address="http://localhost:63500/AutoWeb/Service/WebService3.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebService3" contract="ServiceReferenceService3.IWebService3" name="BasicHttpBinding_IWebService3" />
   <endpoint address="http://localhost:63500/AutoWeb/Service/ServiceUserProtect.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceUserProtect" contract="ServiceReferenceUserProtect.IServiceUserProtect" name="BasicHttpBinding_IServiceUserProtect" />
   <endpoint address="http://localhost:63500/AutoWeb/Service/WebServiceDataTag2.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebServiceDataTag2" contract="ServiceReferenceDataTag2.IWebServiceDataTag2" name="BasicHttpBinding_IWebServiceDataTag2" />
   <endpoint address="http://localhost:63500/AutoWeb/Service/WcfServiceDataGateServerProxy.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfServiceDataGateServerProxy" contract="ServiceReferenceDataGateServer.IWcfServiceDataGateServerProxy" name="BasicHttpBinding_IWcfServiceDataGateServerProxy" />
   <endpoint address="net.tcp://localhost:8732/AutoWeb/Service/ServiceDataGateServer.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceDataGateServer1" contract="WcfReferenceDataGateServer.IServiceDataGateServer" name="NetTcpBinding_IServiceDataGateServer1" />
  </client>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
